.container {
  margin: 130px 0;
  h1 {
    text-align: center;
    margin-bottom: 80px;
    @media screen and (max-width: 425px) {
      margin-bottom: 40px;
    }
  }
  p {
    padding: 0 130px;
    @media screen and (max-width: 1024px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 425px) {
      padding: 0;
      text-align: center;
    }
  }
}
