.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  & > div:nth-child(1) {
    width: 50%;
    color: #fff;
    @media screen and (max-width: 700px) {
      width: 100%;
      margin-bottom: 40px;
    }
    h1 {
      line-height: 82px;
      letter-spacing: -2px;
      margin-bottom: 30px;
      @media screen and (max-width: 1440px) {
        line-height: 70px;
      }
      @media screen and (max-width: 1024px) {
        line-height: 60px;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        line-height: 50px;
      }
      @media screen and (max-width: 425px) {
        line-height: 35px;
      }
    }
    p {
      width: 90%;
      line-height: 36px;
      letter-spacing: 0.5px;
      color: #e2e2e2;
      margin-bottom: 30px;
      @media screen and (max-width: 1440px) {
        line-height: 25px;
      }
      @media screen and (max-width: 1024px) {
        line-height: 23px;
        margin-bottom: 20px;
        width: 100%;
      }
    }
    .btns {
      @media screen and (max-width: 425px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      button {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 10px;
        border: 0;
        transition: all 0.2s;
        @media screen and (max-width: 1024px) {
          font-size: 17px;
          padding: 8px 20px;
        }

        &:hover {
          transform: scale(1.02);
        }
        &:active {
          transform: scale(0.99);
        }
        &:nth-child(1) {
          background: linear-gradient(90deg, #9b43ed, #3081ed);
          margin-right: 15px;
        }
        &:nth-child(2) {
          background: transparent;
          border: 1px solid #fff;
          color: #d7d7d7;
        }
      }
    }
  }
  .wrapper {
    width: 500px;
    height: 580px;
    background: linear-gradient(160deg, #fb37ff, #9b6fee00, #7b7fea00, #1bb2de);
    border-radius: 35px;
    padding: 1px;
    @media screen and (max-width: 1024px) {
      width: 330px;
      height: 410px;
      border-radius: 25px;
    }
    @media screen and (max-width: 768px) {
      width: 280px;
      height: 360px;
      border-radius: 25px;
    }
  }
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #1f1d2b;
    // background: linear-gradient(
    //   169.44deg,
    //   rgba(58, 129, 191, 0.08) 1.85%,
    //   rgba(65, 48, 90, 0.08) 98.72%
    // );
    // backdrop-filter: blur(1110px);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      border-radius: 25px;
    }
    .infos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      & > div {
        width: 80%;
        p {
          color: #fff;
          font-size: 16px;
          font-weight: 200;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
        & > div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 0;
          @media screen and (max-width: 1024px) {
            padding: 3px 0;
          }
          button {
            background: transparent;
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 5px 20px;
            color: #fff;
            @media screen and (max-width: 1024px) {
              padding: 3px 15px;
            }
          }
          &:nth-child(1) {
            border-bottom: 1px solid #c4c4c483;
            p {
              font-weight: 600;
            }
          }
        }
      }
    }
    & > img {
      width: 440px;
      height: 440px;
      border-radius: 20px;
      object-fit: cover;
      margin-bottom: 10px;
      @media screen and (max-width: 1024px) {
        width: 290px;
        height: 290px;
        border-radius: 15px;
      }
      @media screen and (max-width: 768px) {
        width: 250px;
        height: 250px;
        border-radius: 15px;
      }
    }
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 50px;
    text-transform: uppercase;
    cursor: default;
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
    p {
      font-size: 32px;
      font-weight: 700;
      line-height: 30px;
      background: linear-gradient(90deg, #9b43ed, #3081ed);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media screen and (max-width: 1024px) {
        font-size: 25px;
        line-height: 22px;
      }
    }
  }
}
