.container {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  .logo {
    text-transform: uppercase;
    p {
      font-size: 32px;
      font-weight: 700;
      line-height: 30px;
      background: -webkit-linear-gradient(0deg, #9b43ed, #3081ed);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .nav {
    button {
      background-color: transparent;
      border: 0;
      font-size: 20px;
      color: #bcbcbc;
      text-transform: uppercase;
      margin: 0 10px;
      letter-spacing: 1.5px;
    }
  }
  .socials {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
