@font-face {
  font-family: "PlayfairDisplay";
  src: local("PlayfairDisplay"),
    url("./fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: regular;
}

body {
  margin: 0;
  font-family: "PlayfairDisplay", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
